# Ignorar carpeta build en cualquier ubicación del repo
build/
*/build/


# Archivos comunes a ignorar
*.o
*.obj
*.dll
*.so
*.dylib
*.exe
*.log
*.tmp
*.cache

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio
.vs/
*.vcxproj*
*.sln

# Python
__pycache__/
*.pyc


!STL_BASED/Halcyon6MV/tetgen/build/
!STL_BASED/Halcyon6MV/tetgen/build/**
